<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="site.lovecode.wechat.mapper.ArticleShareHourMapper" >
  <resultMap id="BaseResultMap" type="site.lovecode.wechat.entity.ArticleShareHour" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="officialAccountId" property="officialAccountId" jdbcType="BIGINT" />
    <result column="refDate" property="refDate" jdbcType="DATE" />
    <result column="refHour" property="refHour" jdbcType="INTEGER" />
    <result column="shareScene" property="shareScene" jdbcType="TINYINT" />
    <result column="shareCount" property="shareCount" jdbcType="INTEGER" />
    <result column="shareUser" property="shareUser" jdbcType="INTEGER" />
  </resultMap>
</mapper>