<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="site.lovecode.wechat.mapper.AuthorizerAccessTokenMapper" >
  <resultMap id="BaseResultMap" type="site.lovecode.wechat.entity.AuthorizerAccessToken" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="officialAccountId" property="officialAccountId" jdbcType="BIGINT" />
    <result column="authorizerAppid" property="authorizerAppid" jdbcType="VARCHAR" />
    <result column="authorizerAccessToken" property="authorizerAccessToken" jdbcType="VARCHAR" />
    <result column="expiresIn" property="expiresIn" jdbcType="BIGINT" />
    <result column="authorizerRefreshToken" property="authorizerRefreshToken" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  
  <update id="updateToken" parameterType="site.lovecode.wechat.entity.AuthorizerAccessToken">
    update WX_AUTHORIZER_ACCESS_TOKEN set authorizerAccessToken = #{authorizerAccessToken} ,authorizerRefreshToken = #{authorizerRefreshToken},createTime = #{createTime},expiresIn= #{expiresIn} where authorizerAppid = #{authorizerAppid}
  </update>
</mapper>