<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="site.lovecode.wechat.mapper.KeywordReplySettingKeywordMapper" >
  <resultMap id="BaseResultMap" type="site.lovecode.wechat.entity.KeywordReplySettingKeyword" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="keywordReplySettingId" property="keywordReplySettingId" jdbcType="BIGINT" />
    <result column="type" property="type" jdbcType="TINYINT" />
    <result column="matchMode" property="matchMode" jdbcType="TINYINT" />
    <result column="content" property="content" jdbcType="VARCHAR" />
  </resultMap>
</mapper>