<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="site.lovecode.wechat.mapper.MenuMapper">
	<resultMap id="BaseResultMap" type="site.lovecode.wechat.entity.Menu">
		<!-- WARNING - @mbggenerated -->
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="officialAccountId" property="officialAccountId" jdbcType="BIGINT" />
		<result column="type" property="type" jdbcType="TINYINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="value" property="value" jdbcType="VARCHAR" />
		<result column="menuKey" property="menuKey" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="level" property="level" jdbcType="TINYINT" />
		<result column="parentId" property="parentId" jdbcType="BIGINT" />
	</resultMap>

	<resultMap id="MeunJoinSelfResultMap" type="site.lovecode.wechat.dto.MenuDto">
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="officialAccountId" property="officialAccountId" jdbcType="BIGINT" />
		<result column="type" property="type" jdbcType="TINYINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="value" property="value" jdbcType="VARCHAR" />
		<result column="menuKey" property="menuKey" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="level" property="level" jdbcType="TINYINT" />
		<result column="parentId" property="parentId" jdbcType="BIGINT" />
		<collection property="subMenu" javaType="site.lovecode.wechat.entity.Menu" column="perentId">
			<id column="b_id" property="id" jdbcType="BIGINT" />
			<result column="b_officialAccountId" property="officialAccountId" jdbcType="BIGINT" />
			<result column="b_type" property="type" jdbcType="TINYINT" />
			<result column="b_name" property="name" jdbcType="VARCHAR" />
			<result column="b_value" property="value" jdbcType="VARCHAR" />
			<result column="b_menuKey" property="menuKey" jdbcType="VARCHAR" />
			<result column="b_url" property="url" jdbcType="VARCHAR" />
			<result column="b_level" property="level" jdbcType="TINYINT" />
			<result column="b_parentId" property="parentId" jdbcType="BIGINT" />
		</collection>
	</resultMap>

	<resultMap id="JoinMediaResultMap" type="site.lovecode.wechat.dto.MenuMediaDto" >
		<id column="id" property="id" jdbcType="BIGINT" />
		<result column="officialAccountId" property="officialAccountId" jdbcType="BIGINT" />
		<result column="type" property="type" jdbcType="TINYINT" />
		<result column="name" property="name" jdbcType="VARCHAR" />
		<result column="value" property="value" jdbcType="VARCHAR" />
		<result column="menuKey" property="menuKey" jdbcType="VARCHAR" />
		<result column="url" property="url" jdbcType="VARCHAR" />
		<result column="level" property="level" jdbcType="TINYINT" />
		<result column="parentId" property="parentId" jdbcType="BIGINT" />
		<association property="media" javaType="site.lovecode.wechat.dto.MediaDto" column="mediaId">
			<id column="id" jdbcType="BIGINT" property="id" />
			<result column="officialAccountId" jdbcType="BIGINT" property="officialAccountId" />
			<result column="mediaId" jdbcType="VARCHAR" property="mediaId" />
			<result column="type" jdbcType="TINYINT" property="type" />
			<result column="createdAt" jdbcType="TIMESTAMP" property="createdAt" />
			<result column="title" jdbcType="VARCHAR" property="title" />
			<result column="name" jdbcType="VARCHAR" property="name" />
			<result column="introduction" jdbcType="VARCHAR" property="introduction" />
			<result column="path" jdbcType="VARCHAR" property="path" />
			<result column="url" jdbcType="VARCHAR" property="url" />
			<result column="mediaType" jdbcType="TINYINT" property="mediaType" />
			<result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
			<result column="updateTime" jdbcType="TIMESTAMP" property="updateTime" />
			<collection column="myMediaId" ofType="site.lovecode.wechat.entity.MediaNews" property="mediaNewsList">
				<id column="b_id" jdbcType="BIGINT" property="id" />
				<result column="myMediaId" jdbcType="BIGINT" property="myMediaId" />
				<result column="b_title" jdbcType="VARCHAR" property="title" />
				<result column="thumbMediaId" jdbcType="VARCHAR" property="thumbMediaId" />
				<result column="c_url" jdbcType="VARCHAR" property="thumbUrl" />
				<result column="showCoverPic" jdbcType="TINYINT" property="showCoverPic" />
				<result column="author" jdbcType="VARCHAR" property="author" />
				<result column="digest" jdbcType="VARCHAR" property="digest" />
				<result column="content" jdbcType="VARCHAR" property="content" />
				<result column="b_url" jdbcType="VARCHAR" property="url" />
				<result column="contentSourceUrl" jdbcType="VARCHAR" property="contentSourceUrl" />
			</collection>
		</association>
	</resultMap>

	<select id="selectMenuJoinSelf" resultMap="MeunJoinSelfResultMap">
		select
		a.id,a.officialAccountId,a.type,a.name,a.value,a.menuKey,a.url,a.level,a.parentId,b.id as b_id,b.officialAccountId as
		b_officialAccountId ,b.type as b_type,b.name as b_name,b.value as b_value,b.menuKey as b_menuKey,b.url as
		b_url,b.level as b_level ,b.parentId as b_parentId from (select * from WX_MENU
		where
		level = 1 ) a left join (select *
		from WX_MENU where level = 2) b on a.id = b.parentId where a.officialAccountId = #{oaid}
	</select>


	<select id="selectJoinMedia" resultMap="JoinMediaResultMap">
		select * from WX_MENU a left join WX_MEDIA b on a.value = b.mediaId left join WX_MEDIA_NEWS c on b.id = c.myMediaId where a.id = #{menuId}
	</select>
</mapper>