<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.lovecode.mapper.AuthorizerInfoMapper">
  <resultMap id="BaseResultMap" type="site.lovecode.entity.AuthorizerInfo">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="authorizerAppid" jdbcType="VARCHAR" property="authorizerAppid" />
    <result column="nickName" jdbcType="VARCHAR" property="nickName" />
    <result column="headImg" jdbcType="VARCHAR" property="headImg" />
    <result column="serviceTypeInfo" jdbcType="TINYINT" property="serviceTypeInfo" />
    <result column="verifyTypeInfo" jdbcType="TINYINT" property="verifyTypeInfo" />
    <result column="userName" jdbcType="VARCHAR" property="userName" />
    <result column="alias" jdbcType="VARCHAR" property="alias" />
    <result column="qrcodeUrl" jdbcType="VARCHAR" property="qrcodeUrl" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>