<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.lovecode.mapper.AuthorizerInfoMapper">
  <resultMap id="BaseResultMap" type="site.lovecode.entity.AuthorizerInfo">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="officialAccountId" jdbcType="BIGINT" property="officialAccountId" />
    <result column="authorizerAppid" jdbcType="VARCHAR" property="authorizerAppid" />
    <result column="headImg" jdbcType="VARCHAR" property="headImg" />
    <result column="alias" jdbcType="VARCHAR" property="alias" />
    <result column="qrcodeUrl" jdbcType="VARCHAR" property="qrcodeUrl" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
    <result column="authorizationStatus" jdbcType="TINYINT" property="authorizationStatus" />
  </resultMap>

  <update id="updateAuthorizationStatus">
     update wx_authorizer_info set authorizationStatus = #{authorizationStatus} where authorizerAppid = #{authorizerAppid}
  </update>


</mapper>