<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.lovecode.mapper.ComponentVerifyTicketMapper">
  <resultMap id="BaseResultMap" type="site.lovecode.entity.ComponentVerifyTicket">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="componentAppid" jdbcType="VARCHAR" property="componentAppid" />
    <result column="componentVerifyTicket" jdbcType="VARCHAR" property="componentVerifyTicket" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>

  <select id="selectOrderByCreateTime" parameterType="java.lang.String" resultType="java.lang.String">
       select componentVerifyTicket from wx_component_verify_ticket where componentAppid = #{componentAppid} order by createTime DESC  limit 1 ;
  </select>
</mapper>