<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.lovecode.mapper.FuncInfoMapper">
  <resultMap id="BaseResultMap" type="site.lovecode.entity.FuncInfo">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="authorizerInfoId" jdbcType="BIGINT" property="authorizerInfoId" />
    <result column="funcName" jdbcType="INTEGER" property="funcName" />
  </resultMap>

  <insert id="batchInsert" parameterType="java.util.List">
    insert into wx_func_info values
    <foreach collection="list" item="item" index="index" separator=",">
    (#{item.id},#{item.authorizerInfoId},#{item.funcName})
  </foreach>
  </insert>
</mapper>