<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="site.lovecode.mapper.KeywordReplySettingMapper">
  <resultMap id="BaseResultMap" type="site.lovecode.entity.KeywordReplySetting">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="officialAccountId" jdbcType="BIGINT" property="officialAccountId" />
    <result column="ruleName" jdbcType="VARCHAR" property="ruleName" />
    <result column="replyMod" jdbcType="TINYINT" property="replyMod" />
    <result column="plat" jdbcType="TINYINT" property="plat" />
    <result column="createTime" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
</mapper>