<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="site.lovecode.mapper.PersonalUserMapper" >
  <resultMap id="BaseResultMap" type="site.lovecode.entity.PersonalUser" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="officialAccountId" property="officialAccountId" jdbcType="BIGINT" />
    <result column="openid" property="openid" jdbcType="VARCHAR" />
    <result column="subscribe" property="subscribe" jdbcType="TINYINT" />
    <result column="nickName" property="nickName" jdbcType="VARCHAR" />
    <result column="sex" property="sex" jdbcType="TINYINT" />
    <result column="city" property="city" jdbcType="VARCHAR" />
    <result column="country" property="country" jdbcType="VARCHAR" />
    <result column="province" property="province" jdbcType="VARCHAR" />
    <result column="language" property="language" jdbcType="VARCHAR" />
    <result column="headimgurl" property="headimgurl" jdbcType="VARCHAR" />
    <result column="subscribeTime" property="subscribeTime" jdbcType="TIMESTAMP" />
    <result column="unionid" property="unionid" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
    <result column="groupid" property="groupid" jdbcType="VARCHAR" />
    <result column="createTime" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>

  <delete id="deleteByOfficialAccountIdAndSubscribe">
    delete from wx_personal_user where officialAccountId = #{officialAccountId} and subscribe != 0
  </delete>
</mapper>