<head>
    <title>
        微信第三方平台
    </title>
    <meta charset="utf-8">
    <meta name="keywords" content="Bootstrap后台主题框架,ios7风格后台框架,响应式后台框架"/>
    <meta name="description"
          content="Se7en是一个基于基于Bootstrap3的，仿ios7风格的，完全响应式的后台框架，她内置了5套简单的皮肤模板，她还加入了近20个国外优秀的开源项目，并可简单组合与拆卸。"/>
    <link href="http://fonts.googleapis.com/css?family=Lato:100%2C300%2C400%2C700" media="all" rel="stylesheet"
          type="text/css"/>
    <link href="stylesheets/bootstrap.min.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/font-awesome.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/se7en-font.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/isotope.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/jquery.fancybox.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/fullcalendar.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/wizard.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/select2.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/morris.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/datatables.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/datepicker.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/timepicker.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/colorpicker.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/bootstrap-switch.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/daterange-picker.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/typeahead.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/summernote.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/pygments.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/style.css" media="all" rel="stylesheet" type="text/css"/>
    <link href="stylesheets/color/green.css" media="all" rel="alternate stylesheet" title="green-theme"
          type="text/css"/>
    <link href="stylesheets/color/orange.css" media="all" rel="alternate stylesheet" title="orange-theme"
          type="text/css"/>
    <link href="stylesheets/color/magenta.css" media="all" rel="alternate stylesheet" title="magenta-theme"
          type="text/css"/>
    <link href="stylesheets/color/gray.css" media="all" rel="alternate stylesheet" title="gray-theme" type="text/css"/>
    <script src="http://code.jquery.com/jquery-1.10.2.min.js" type="text/javascript"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js" type="text/javascript"></script>
    <script src="javascripts/bootstrap.min.js" type="text/javascript"></script>
    <script src="javascripts/raphael.min.js" type="text/javascript"></script>
    <script src="javascripts/selectivizr-min.js" type="text/javascript"></script>
    <script src="javascripts/jquery.mousewheel.js" type="text/javascript"></script>
    <script src="javascripts/jquery.vmap.min.js" type="text/javascript"></script>
    <script src="javascripts/jquery.vmap.sampledata.js" type="text/javascript"></script>
    <script src="javascripts/jquery.vmap.world.js" type="text/javascript"></script>
    <script src="javascripts/jquery.bootstrap.wizard.js" type="text/javascript"></script>
    <script src="javascripts/fullcalendar.min.js" type="text/javascript"></script>
    <script src="javascripts/gcal.js" type="text/javascript"></script>
    <script src="javascripts/jquery.dataTables.min.js" type="text/javascript"></script>
    <script src="javascripts/datatable-editable.js" type="text/javascript"></script>
    <script src="javascripts/jquery.easy-pie-chart.js" type="text/javascript"></script>
    <script src="javascripts/excanvas.min.js" type="text/javascript"></script>
    <script src="javascripts/jquery.isotope.min.js" type="text/javascript"></script>
    <script src="javascripts/isotope_extras.js" type="text/javascript"></script>
    <script src="javascripts/modernizr.custom.js" type="text/javascript"></script>
    <script src="javascripts/jquery.fancybox.pack.js" type="text/javascript"></script>
    <script src="javascripts/select2.js" type="text/javascript"></script>
    <script src="javascripts/styleswitcher.js" type="text/javascript"></script>
    <script src="javascripts/wysiwyg.js" type="text/javascript"></script>
    <script src="javascripts/summernote.min.js" type="text/javascript"></script>
    <script src="javascripts/jquery.inputmask.min.js" type="text/javascript"></script>
    <script src="javascripts/jquery.validate.js" type="text/javascript"></script>
    <script src="javascripts/bootstrap-fileupload.js" type="text/javascript"></script>
    <script src="javascripts/bootstrap-datepicker.js" type="text/javascript"></script>
    <script src="javascripts/bootstrap-timepicker.js" type="text/javascript"></script>
    <script src="javascripts/bootstrap-colorpicker.js" type="text/javascript"></script>
    <script src="javascripts/bootstrap-switch.min.js" type="text/javascript"></script>
    <script src="javascripts/typeahead.js" type="text/javascript"></script>
    <script src="javascripts/daterange-picker.js" type="text/javascript"></script>
    <script src="javascripts/date.js" type="text/javascript"></script>
    <script src="javascripts/morris.min.js" type="text/javascript"></script>
    <script src="javascripts/skycons.js" type="text/javascript"></script>
    <script src="javascripts/fitvids.js" type="text/javascript"></script>
    <script src="javascripts/jquery.sparkline.min.js" type="text/javascript"></script>
    <script src="javascripts/main.js" type="text/javascript"></script>
    <script src="javascripts/respond.js" type="text/javascript"></script>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
</head>