<!DOCTYPE html>
<html>
    #include("head.vm")
<body>
<!-- Navigation -->
    #include("navbar.vm")
微信测试
用户信息
$user.nickname
$user.sex
$user.city
$user.language
<img src="$user.headImgUrl">
</body>
</html>